In [1]:
ch=input()
if ch=='a' or ch=='e' or ch=="i" or ch=="o" or ch=="u":
    print("Vowel")
else:
    print("Consonant")

u
Vowel

In [4]:
ch = input()
# 10 comparisions
if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

u
u is a Vowel

In [5]:
vowels="aeiouAEIOU"
ch=input()
# membership operators,
if ch in vowels:
    print("Vowel")
else:
    print('Consonant')

Vowel

### Iterating Statements
- looping statements
- Statements to be iterated/repeated for multiple times
- **for**
    - syntax:
        - for iterator in iterable:
            - statements
        - for iterator in range(len(iterable)):
            - statements
- **while**

In [8]:
# program to print "welcome to python" 10 times
''' welcome to python
welcome to python
welcome to python
.....
welcome to python '''
for num in range(11,21):
    print("welcome to python") # single statement

welcome to python
welcome to python
welcome to python
welcome to python
welcome to python
welcome to python
welcome to python
welcome to python
welcome to python
welcome to python

**range()**
- pre-defined function in Python
- range of values/data
- [1,11]:1,2,3,4,5,6,7,8,9,10,11(exclusive)
- range(upper bound/stop)
    - starts from 0 by default
- range(lower bound,upper bound) 
    - upper bound is exclusive
- [start:stop:step_count]  # 
    - [1:11:2] :

In [9]:
rn=range(30,45) # 14 values
# print the numbers present in range(30 to 45)
print(30) # printing the numbers
print(31)
print(33)
print(45)

30
31
33
45

In [10]:
for num in rn:
    print(num)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [13]:
r=range(21) # starts from 0 
#print the numbers from 0 to 20 in a line
for num in r:
    print(num) # "\n"

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
for num in r:
    print(num,end=" ") # space

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [17]:
# write a python program to print the even no.s present in a range
# num%2=0(remainder) 
lw=int(input("lower bound:"))
up=int(input("upper bound:"))
for num in range(lw,up+1): # exclusive
    if num%2==0:
        print(num,end=" ")

lower bound:30
upper bound:70
30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70

In [19]:
# dif=2
# skip=1
for num in range(lw,up+1,2): #
    print(num,end=" ")

30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70

In [20]:
# print the multiples of 3 in a range
''' 3,6,9,12,15,18---mutliples of 3
factors of 12:1,2,3,4,6,12 (<12)
    multiples of 12:12,24,36,48,60 ..(>12) '''


for num in range(lw,up+1):
    if num%3==0:
        print(num,end=" ")

30 33 36 39 42 45 48 51 54 57 60 63 66 69

In [24]:
for num in range(2,21,3): # 2 to 20
    print(num,end=" ")

2 5 8 11 14 17 20

In [27]:
for num in range(0,65,4):
    print(num,end=" ")

0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64

### for loop in reverse order
- for num in range(up,lw,-1)
    - statements

In [28]:
# print the numbers from 1 to 10 in reverse order
# print the numbers from 10 to 1
for num in range(10,0,-1):
    print(num,end=" ")

10 9 8 7 6 5 4 3 2 1

In [30]:
# print the multiples of 6 in a range in reverse order
# 100 to 1:multiples of 6
up,lw=int(input("Upper bound:")),int(input("Lower bound:"))
for num in range(up,lw,-6):
    print(num,end=" ")

Upper bound:96
Lower bound:1
96 90 84 78 72 66 60 54 48 42 36 30 24 18 12 6

In [40]:
# write a python program to print the characters from A to K
ord('A') # ASCII value of character
for num in range(65,76):
    print(chr(num),end=" ")

A B C D E F G H I J K

In [34]:
chr(65)# converts integer into char
# corresponding ascii character of perticular

'A'

In [35]:
ord("K") #

75

In [36]:
ord("k")

107

In [37]:
ord("a")

97

In [43]:
for num in range(ord('A'),ord('L')):  # numbers
    print(num,end=" ")
    print(chr(num),end=" ") #

A B C D E F G H I J K

In [45]:
# write a program to find the factors of a number
'''' 10:1,2,5,10
1 to 10)1,2,3,4,5,6,7,8,9,10---(0):factors
30:1,2,3,5,6,10,15,30

factors:1 to n/2,n '''
# write a python program to print multiplication table
''' 9x1=9
9x2=18
9x3=27
...
9x20=180 '''
n=int(input("Enter the value:"))
print("Multiplication table of",n,end="\n")
for num in range(1,11):
    print(n,"x",num,'=',n*num)

Enter the value:9
Multiplication table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [48]:
# print the multiplication table of n in reverse order
for num in range(11,1,-1):
    print(n,'x',num,"=",n*num)

9 x 11 = 99
9 x 10 = 90
9 x 9 = 81
9 x 8 = 72
9 x 7 = 63
9 x 6 = 54
9 x 5 = 45
9 x 4 = 36
9 x 3 = 27
9 x 2 = 18

In [53]:
# factorial vlaue of n
#n!=n*n-1*n-2*n-3..*n-(n-1)
#5!=5*4*3*2*1=120
fact=1
x=int(input("Enter number:"))
for num in range(x,0,-1):
    fact=fact*num # assignment operator
print("factorial of ",x,"is",fact)

Enter number:5
factorial of  5 is 120

In [56]:
f=int(input())
fact=1
for num in range(1,f+1):
    fact*=num # assignment operator
print(fact)

5
120