# heading1
## heading2
#### heading4
###### heading6

*I am italic* in this sentence<br>
**I am bold text**<br>
***It is bold italic***

## Python
- It's a general purpose , high level and interpreted programming language
    - High level pgmg lang
        - Understandable by the user
    - interpreted lang
        - It gives the line by line execution
    - general purpose
        - used for various realtime applications
            - such as, web development,s/w development and computations/mathematics
- It's features
    - simple to code
    - easy to learn
    - there is no perticular syntax and its somewhat similar to English language
- Need of learning
    - It is the main building block for all the current learning technologies such as Data Science , IOT, Robotics , AI Deep learning and M/c learning

In [1]:
# write a python program to print 'welcome to the python programming'
print('welcome to the python programming')

welcome to the python programming

In [5]:
print(20+30)

50

In [4]:

print("double quotes")

double quotes

In [7]:
# printing the message and values
print('sum of 20 and 30 is',20+30)

sum of 20 and 30 is 50

variable
- a variable is a container to the store value/data

In [7]:
x=10
y=20
print(x+y)

30

In [9]:
variable='I am word'
print(variable)

I am word

### Errors in Python
- 3types
    - syntax error
        - order of representation
    - indentation error 
        - error related to spacce
    - value error
        - filenotfound error
        - name error

In [15]:
type(10)

int

In [17]:
type('word')

str

### Operators in python
- which performs an operation b/w 2 operands
- Types of operators
    - Arithmetic operators
        - +,-,x,/,%,**
    - Relational/comaparisional
        - <,=,>,>=,==,!=
    - logical operators
        - and,or
    - Boolean operators
        - True/False
    - Identity operators
        - is, is not
    - Membership operators
        - in , not in
    - Assignment operators
        - =,+=,-=,*=,/=

### reading the inputs dynamically
- input()
- int(input())
- float(input())

In [21]:
clg_name=input('Enter the string:')
clg_name

Enter the string:dnfdfj dkfjkdj

'dnfdfj dkfjkdj'

In [20]:
num=int(input('Enter the number:'))
num

Enter the number:8790987

8790987

In [ ]:
f=float(input('enter float value:'))
f

Type conversion

In [1]:
int(909988.789)

909988

In [2]:
float(9098978)

9098978.0

In [3]:
str(890)

'890'

In [4]:
int('eyiruu')

ValueError: invalid literal for int() with base 10: 'eyiruu'

In [5]:
int('7879090')

7879090

In [9]:
x

10

In [10]:
ord('A') # finding ascii value of a character

65

In [18]:
chr(65) # finding the corresponding character

'A'

In [12]:
chr(9)

'\t'

In [14]:
ord('9')

57

In [15]:
ord(' ')

32

In [17]:
chr(32)

' '

### Keywords
- a reserved word which has a special meaning/specific work
- Examples:
    True, False,lambda, if, and, or, elif, else, for,while,def, return, 55continue,break,class etc.

In [24]:
# perform all the arithmetic op'ns on 2 variables taken from the user
a=int(input())
b=int(input())
print('sum of',a,'and',b,'is:',a+b)
print('sub',a-b)
print('mul',a*b)
print('div',a/b)
print('the exponent value is',a**b)
print('the remainder value is ',a%b)

10
9
sum of 10 and 9 is: 19
sub 1
mul 90
div 1.1111111111111112
the exponent value is 1000000000
the remainder value is  1

In [25]:
#identity operators
x=10
x is 10 #

True

In [26]:
 x is not 10

False

In [31]:
x=10
y=20
y is x

False

In [29]:
id(x) # represents the memory location of a variable

140707741278896

In [30]:
id(y)

140707741279216

### variable assignment

In [34]:
a=b=c=10 # multi variable assignments with a single value
a is c

True

In [36]:
x,y,z=90,'hello',90.67 # multiple variable assignments in a single line

In [37]:
x

90

In [38]:
y

'hello'

### Strings
- colletion/group of characters
- ''/""
- 'jdkfjkjdfjk'/"hdjhfkeh788768767'
- Slicing
    - diving/separating the whole data into parts using index
    - index by default starts from 0
    - Index is of 2types:
      - forward indexing
          - 0 to len(iterable)-1
      - backward indexing
          - -1 to -infinite
       - iterable[start:stop:step count]
       
- String methods
    - methods/predefined functions which can be applied on only strings
    - len()
    - isalpha()
    - isdigit()
    - isalnum()
    - isupper()
    - islower()
    - string.lower()
    - string.upper()
    - st.replace(old,new)
    - string.count(ch)
    - st.index()
    - st.join()
    - st.strip()
    - st.rstrip()
    - st.lstrip()
    - st.split()

In [8]:
clg='Universal College of Engineering'
clg

'Universal College of Engineering'

In [6]:
len(s)

8

In [9]:
clg[0] # first character

'U'

In [10]:
clg[5]

'r'

In [11]:
clg[-13]

'f'

In [12]:
clg[3:9] # 9 is exclusive, 3 is inclusive

'versal'

In [13]:
clg[9]

' '

In [14]:
clg[0:9]

'Universal'

In [15]:
clg[-1]

'g'

In [16]:
clg[-2]

'n'

In [17]:
len(clg)

32

In [18]:
clg[-9:]

'gineering'

In [19]:
clg[-5:-1]

'erin'

In [20]:
clg[-20:]

'llege of Engineering'

In [22]:
clg[-32:-23]

'Universal'

In [23]:
clg[0:]

'Universal College of Engineering'

In [24]:
clg[:]

'Universal College of Engineering'

In [25]:
clg[::]

'Universal College of Engineering'

In [26]:
clg[::-1]

'gnireenignE fo egelloC lasrevinU'

In [31]:
clg[::2] # printing the alternate characters

'UieslCleeo niern'

In [28]:
clg

'Universal College of Engineering'

In [32]:
clg[::-2]

'giengEf glo arvn'

In [33]:
clg

'Universal College of Engineering'

In [34]:
# no.of occurences of 'e' in the string
clg.count('e')

5

In [35]:
clg.count('g')

3

In [36]:
clg

'Universal College of Engineering'

In [37]:
clg.islower()

False

In [38]:
clg.isupper()

False

In [39]:
clg.upper()

'UNIVERSAL COLLEGE OF ENGINEERING'

In [40]:
clg

'Universal College of Engineering'

In [41]:
clg.lower()

'universal college of engineering'

In [42]:
clg.swapcase()

'uNIVERSAL cOLLEGE OF eNGINEERING'

In [44]:
'998989'.isdigit()

True

In [45]:
'name123'.isalnum()

True

In [46]:
st='name123'
st.isalpha(st[3]) #

TypeError: isalpha() takes no arguments (1 given)

In [47]:
s2='                    word starts from here'
s2

'                    word starts from here'

In [48]:
s2.lstrip()

'word starts from here'

In [49]:
s3='word starts from 0 and ends with space              '
s3.rstrip()

'word starts from 0 and ends with space'

In [50]:
s5='       string starts at the middle                 '
s5.strip()

'string starts at the middle'

In [51]:
s5.isspace()

False

In [52]:
dir(str)# list of methods in the string

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [53]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [54]:
clg

'Universal College of Engineering'

In [57]:
clg.replace('e',' new ') #replace old with new

'Univ new rsal Coll new g new  of Engin new  new ring'

In [58]:
clg

'Universal College of Engineering'

In [59]:
c=clg.lower()
c

'universal college of engineering'

In [60]:
c.capitalize()

'Universal college of engineering'

In [61]:
clg.title() # capitalize the first character of each word in the string

'Universal College Of Engineering'

In [4]:
j='universal college of engineering'.split()
''.join(j)

'universalcollegeofengineering'

In [6]:
j='universal college of engineering'
j.zfill(40)

'00000000universal college of engineering'

In [7]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
j.index('i')

2

In [9]:
j.casefold()

'universal college of engineering'

In [11]:
help(str.casefold)

Help on method_descriptor:

casefold(self, /)
    Return a version of the string suitable for caseless comparisons.

In [12]:
st='HaiNAme'
st.casefold()

'hainame'

In [13]:
st.startswith('H')

True

In [14]:
st.endswith('E')

False

In [15]:
help(str.center)

Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [22]:
st.center(4,'w')

'HaiNAme'