In [1]:
#write a program to check whether a no. is perfect or not
# write a program to find the prime factors of a no.
# i/p : firstname lastname
# o/p: l.firstname

In [3]:
def is_perfect(n):
    s=0
    for num in range(1,n):
        if n%num==0:
            s+=num
    if s==n:
        return True
    else:return False
    
is_perfect(6)

True

In [4]:
is_perfect(12)

False

In [5]:
lw=int(input())
up=int(input())
def perfect_range(lw,up):
    for num in range(lw,up+1):
        if is_perfect(num):
            print(num,end=" ")
perfect_range(lw,up)

1
1000
6 28 496

In [ ]:
#15-->1,3,-->3 5

In [9]:
def is_perfect2(n):
    s=0
    for num in range(1,n):
        if n%num==0:
            s+=num
    if s==n:
        print('perfect')
    else:
        print('not perfect')
    
is_perfect2(6)

perfect

In [10]:
is_perfect2(10)

not perfect

In [12]:
lw=int(input())
up=int(input())
def perfect_range2(lw,up):
    for num in range(lw,up+1):
        if is_perfect2(num):
            print(num,end=" ")
perfect_range2(lw,up)

1
100
not perfect
not perfect
not perfect
not perfect
not perfect
perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect

In [18]:
def prime(n):
    count=0
    for num in range(1,n+1):
        if n%num==0:
            count+=1
    if count==2:
        return True
    else:return False
        
num=int(input())
print('printing the prime factors...')
for i in range(1,num+1):
    if num%i==0:
        if prime(i):
            print(i,end=" ")

8023
printing the prime factors...
71 113

In [24]:
# firstname lastname
# l.firstname
name=input().split()
print(name[1][0],'.',name[0])

anjani gottam
g . anjani

### Data Structures
- way of organizing the data in a perticular format
- 4types:
    -  set{}
    - tuple()
    - list[]
    - dictionary{}

### set
- collection of unordered data
- {}
- eleminates the duplicate data

In [25]:
a={23,90,'hello','word',90,6778.654,9098.34}
a

{23, 6778.654, 90, 9098.34, 'hello', 'word'}

In [26]:
b={45,90,'word','new','set2',9088.67}
b

{45, 90, 9088.67, 'new', 'set2', 'word'}

In [27]:
a.union(b)

{23, 45, 6778.654, 90, 9088.67, 9098.34, 'hello', 'new', 'set2', 'word'}

In [28]:
a.intersection(b)

{90, 'word'}

In [29]:
a.difference(b)

{23, 6778.654, 9098.34, 'hello'}

In [30]:
a-b

{23, 6778.654, 9098.34, 'hello'}

In [31]:
b

{45, 90, 9088.67, 'new', 'set2', 'word'}

In [32]:
a

{23, 6778.654, 90, 9098.34, 'hello', 'word'}

In [33]:
b.issubset(a)

False

In [34]:
c={'word',23}
c

{23, 'word'}

In [35]:
c.issubset(a)

True

In [36]:
a.issuperset(c)

True

In [37]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [38]:
c

{23, 'word'}

In [39]:
b

{45, 90, 9088.67, 'new', 'set2', 'word'}

In [40]:
a

{23, 6778.654, 90, 9098.34, 'hello', 'word'}

In [41]:
d={'new word',123}
d

{123, 'new word'}

In [42]:
d.isdisjoint(a)

True

### tuple
-  one of the data structes in python
- used to store the data/value
- represented with ()
- immutable in nature
- methods
    - count
    - index

In [43]:
t=('string',8778789,6789809.565,'string2',123)
t

('string', 8778789, 6789809.565, 'string2', 123)

In [44]:
t.index(8778789)

1

In [45]:
t.count('string')

1

In [46]:
t[3]

'string2'

In [47]:
t[0:]

('string', 8778789, 6789809.565, 'string2', 123)

In [48]:
t[0]='new word'

TypeError: 'tuple' object does not support item assignment

In [1]:
# o/p:U i e a o e e o E i e e i a e o o
# U i e a o E
s=input()
for each in s:
    if(each=='a' or each=='e' or each=='i' or each=='o' or each=='u' or each=='A' or each=='E' or each=='I' or each=='O' or each=='U'):
        print(each,end=" ")

Universal college of Engineering and technology
U i e a o e e o E i e e i a e o o

In [2]:
s

'Universal college of Engineering and technology'

### List
- []
- mutable in nature
- stores heterogenous data

In [3]:
s

'Universal college of Engineering and technology'

In [4]:
s.split()

['Universal', 'college', 'of', 'Engineering', 'and', 'technology']

In [7]:
li=tuple(s.split())
li

('Universal', 'college', 'of', 'Engineering', 'and', 'technology')

In [8]:
li=[12,90,'hai',90.78,'hello']
li

[12, 90, 'hai', 90.78, 'hello']

In [9]:
li[3]

90.78

In [10]:
li[-2]

90.78

In [11]:
li[2:]

['hai', 90.78, 'hello']

In [12]:
li[-4:-1]

[90, 'hai', 90.78]

In [13]:
for ele in li:
    print(ele)

12
90
hai
90.78
hello

#### list  methods
- li.remove(ele)
- li.index(ele)
- li.pop()
- li.count()
- max(li)
- min(li)
- sum(li)
- li.append()
- li.extend()
- li.sort()
- li.reverse()

In [14]:
li

[12, 90, 'hai', 90.78, 'hello']

In [15]:
li.remove(90) # deletes the element at perticular place

In [16]:
li

[12, 'hai', 90.78, 'hello']

In [21]:
li.append('new data')

In [22]:
li

[12, 'hai', 90.78, 'hello', 'new data', 'new data', 'new data']

In [23]:
li.pop()

'new data'

In [24]:
li

[12, 'hai', 90.78, 'hello', 'new data', 'new data']

In [25]:
li[1]

'hai'

In [26]:
li[1]='say hi'

In [27]:
li

[12, 'say hi', 90.78, 'hello', 'new data', 'new data']

In [28]:
li.index(90.78)

2

In [29]:
li.pop(4)

'new data'

In [30]:
li

[12, 'say hi', 90.78, 'hello', 'new data']

In [31]:
li.pop(3)

'hello'

In [32]:
li

[12, 'say hi', 90.78, 'new data']

In [33]:
s

'Universal college of Engineering and technology'

In [36]:
new=[]
for word in s:
    new.append(word)
new

['U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'a',
 'l',
 ' ',
 'c',
 'o',
 'l',
 'l',
 'e',
 'g',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 'E',
 'n',
 'g',
 'i',
 'n',
 'e',
 'e',
 'r',
 'i',
 'n',
 'g',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 't',
 'e',
 'c',
 'h',
 'n',
 'o',
 'l',
 'o',
 'g',
 'y']

In [38]:
li.insert(4,'new word')

In [39]:
li

[12, 'say hi', 90.78, 'new data', 'new word']

In [40]:
new

['U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'a',
 'l',
 ' ',
 'c',
 'o',
 'l',
 'l',
 'e',
 'g',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 'E',
 'n',
 'g',
 'i',
 'n',
 'e',
 'e',
 'r',
 'i',
 'n',
 'g',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 't',
 'e',
 'c',
 'h',
 'n',
 'o',
 'l',
 'o',
 'g',
 'y']

In [41]:
li

[12, 'say hi', 90.78, 'new data', 'new word']

In [42]:
li.extend(new)

In [43]:
li

[12,
 'say hi',
 90.78,
 'new data',
 'new word',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'a',
 'l',
 ' ',
 'c',
 'o',
 'l',
 'l',
 'e',
 'g',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 'E',
 'n',
 'g',
 'i',
 'n',
 'e',
 'e',
 'r',
 'i',
 'n',
 'g',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 't',
 'e',
 'c',
 'h',
 'n',
 'o',
 'l',
 'o',
 'g',
 'y']

In [44]:
evens=list(range(1,50,3))
evens

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [45]:
for each in evens:
    if each%2==0:
        print(each)

4
10
16
22
28
34
40
46

In [46]:
ints=[90,78,'st','word',78,90.7,'m','hello','67678',5656]

In [47]:
for each in ints:
      if each==ints.isdigit()

SyntaxError: invalid syntax (<ipython-input-47-f1ff79e41290>, line 2)

In [48]:
s

'Universal college of Engineering and technology'

In [51]:
vowels=('a','e','i','o','u','A','E','I','O','U')
unq=[]
for ch in s:
    if ch in vowels:
        if ch not in unq:
            unq.append(ch)
print(unq)
for item in unq:
    print(item,end=" ")

['U', 'i', 'e', 'a', 'o', 'E']
U i e a o E

In [53]:
ints

[90, 78, 'st', 'word', 78, 90.7, 'm', 'hello', '67678', 5656]

In [54]:
for each in ints:
    if str(each).isdigit():
        print(each)

90
78
78
67678
5656

In [55]:
s=[3,4,5,9,56,89,65,20]
print(min(s))
print(max(s))
sum(s)

3
89

251

In [56]:
s.sort()

In [57]:
s

[3, 4, 5, 9, 20, 56, 65, 89]

In [58]:
s

[3, 4, 5, 9, 20, 56, 65, 89]

In [59]:
s.reverse()

In [60]:
s

[89, 65, 56, 20, 9, 5, 4, 3]

In [ ]:
l=input().split()
for num in l:

### Dictionary
- {}
- (k:v)-->item 
- dic[key]=value
- dictionary methods

In [1]:
dic={'k':123,'key2':'word',90:876.90,'int':67,'float':'cgpa'}
dic

{'k': 123, 'key2': 'word', 90: 876.9, 'int': 67, 'float': 'cgpa'}

In [2]:
dic['int']

67

In [3]:
dic['float']

'cgpa'

#### dictionary methods
- dic.values()
- dic.keys()
- dic.items()
- dic.update(ele)
- dic.popitem()
- dic.pop()
- dic.get(key)

In [4]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [6]:
dic.keys()

dict_keys(['k', 'key2', 90, 'int', 'float'])

In [7]:
dic.values()

dict_values([123, 'word', 876.9, 67, 'cgpa'])

In [8]:
dic.items()

dict_items([('k', 123), ('key2', 'word'), (90, 876.9), ('int', 67), ('float', 'cgpa')])

In [9]:
for k,v in dic.items():
    print(k,v,sep=':')

k:123
key2:word
90:876.9
int:67
float:cgpa

In [10]:
for key,val in zip(dic.keys(),dic.values()):
    print(key,val,sep=",")

k,123
key2,word
90,876.9
int,67
float,cgpa

In [11]:
dic['new']='new word'

In [12]:
dic

{'k': 123,
 'key2': 'word',
 90: 876.9,
 'int': 67,
 'float': 'cgpa',
 'new': 'new word'}

In [13]:
dic.popitem()

('new', 'new word')

In [14]:
dic

{'k': 123, 'key2': 'word', 90: 876.9, 'int': 67, 'float': 'cgpa'}

In [15]:
dic.pop('key2')

'word'

In [16]:
dic

{'k': 123, 90: 876.9, 'int': 67, 'float': 'cgpa'}

In [17]:
dic['k']=878767867

In [18]:
dic

{'k': 878767867, 90: 876.9, 'int': 67, 'float': 'cgpa'}

In [19]:
dic.update({'hi':'I am new','2nd key':'word2'})
dic

{'k': 878767867,
 90: 876.9,
 'int': 67,
 'float': 'cgpa',
 'hi': 'I am new',
 '2nd key': 'word2'}

In [1]:
# prepare a dictionary no.s from 1 to 10 with their squares values
nums=list(range(1,11))
sqs={}
for num in nums:
    sqs[num]=num**2
sqs

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [3]:
st=input()
dic2={}
for ch in st:
    dic2[ch]=ord(ch)
dic2

hi i am ruthu

{'h': 104, 'i': 105, ' ': 32, 'a': 97, 'm': 109, 'r': 114, 'u': 117, 't': 116}