# Python Basics

### Heading3

#### Heading4

###### heading6

I am *italic* word<br>
I am **bold** text<br>
I am ***bold italic text***

### Python
- It's a general purpose, high level and interpreted language
    - High level language
        - A language which is understandable by the user
        - Ex:C,C++,Java etc.
    - Interpreted Language
       - Gives line by line execution
    - General purpose
       - used for various realtime applications
       - such as web development, system s/w, app'n s/w, scientific computation
- It easy to learn and simple to code
- Role of Python 
    - It plays an important role now-a-days since it is the main building block of all current running technologies like, Data Science,Machine Learning, Deep learning,Artifical Intelligence,Robotics , IOT etc.

#### Print()

In [6]:
print('Welcome to Python language')

Welcome to Python language

In [7]:
print("I am new to the programming")

I am new to the programming

In [8]:
8+9

17

In [9]:
print(90+67678)

67768

In [11]:
print('hi','hello','hey')

hi hello hey

In [14]:
print('hi','hello','hey',sep=',')

hi,hello,hey

In [15]:
print('hi','hello','hey',sep='@')

hi@hello@hey

In [17]:
print('hi','hello','hey',end='@')

hi hello hey@

### Variable
- A variable is a container to store the value/data
- Ex: x=10,clg='College name',cgpa=9.34

In [19]:
x=10
print(x)

10

In [20]:
print('fkjhgifhjkghjkffjk')

fkjhgifhjkghjkffjk

In [22]:
clg='Universal College of Engineering and Technology'
clg

'Universal College of Engineering and Technology'

In [24]:
g=97867667.89809
g

97867667.89809

In [30]:
a,b,c=22,5,7
print(a)
print(b)
print(c)
b
a

22
5
7

22

In [27]:
a=b=c=30
print(a)
print(b)
c
b

30
30

30

In [31]:
'hi'+'hello'

'hihello'

### Operators in Python
- Which performs an op'n b/w 2 operands
- Ex: a+b -->here '+' is operator and a,b are operands
- Types of operators
    - Arithmetic operator
        - +,-,*,/,%,**
    - Relational/Comparisional operator
        - <,<=,>,>=,==,!=
    - Boolean Operator
        - True, False
    - Logical operator
        - and,or
    - Identity operator
        - is, is not
    - Membership operator
        - in,not in
    - Assignment operator
        - =,+=,-=,*=,/=

In [32]:
x

10

In [33]:
type(x)

int

In [34]:
type(clg)

str

In [35]:
clg

'Universal College of Engineering and Technology'

In [36]:
'jhgyty676898900'

'jhgyty676898900'

In [37]:
float(998)

998.0

In [38]:
int(788.89)

788

In [39]:
str(545)

'545'

In [40]:
clg

'Universal College of Engineering and Technology'

In [41]:
clg2=input('Enter your college name:')
clg2

Enter your college name:Universal College of Engineering

'Universal College of Engineering'

In [42]:
num=int(input('Enter the number:'))
num

Enter the number:09876543

9876543

In [43]:
f=float(input())
f

9878

9878.0

### Errors
- Invalid statement
- Types of Errors
    - Syntax Error
        - Any statement should have perticular order of representation
    - Indetation Error
        - Error related to space
    - Type Error
        - value error,type error,file not found error...

In [44]:
print('jghghgfh')

jghghgfh

In [45]:
print("hghgjh)

SyntaxError: EOL while scanning string literal (<ipython-input-45-dec398a9bba4>, line 1)

In [46]:
clg

'Universal College of Engineering and Technology'

In [47]:
clg2

'Universal College of Engineering'

In [48]:
clg3

NameError: name 'clg3' is not defined

Read 2 no.s from the user and perform all the arithmetic operations

In [2]:
a=int(input('enter a value'))
b=int(input('enter b value'))
f=a+b
c=a-b
d=a/b
e=a*b
g=a%b
h=a**b
print('the addition of a,b values:',f)
print('the subtraction of a,b values:',c)
print('the division of a,b values:',d)
print('the multiplication of a,b values:',e)
print('modulo division is',g)
print('exponent is',h)

enter a value5
enter b value3
the addition of a,b values: 8
the subtraction of a,b values: 2
the division of a,b values: 1.6666666666666667
the multiplication of a,b values: 15
modulo division is 2
exponent is 125

In [6]:
a=int(input('enter a value'))
b=int(input('enter b value'))
print('the addition of',a,'and',b, 'values:',a+b)
print('the subtraction of',a,'and',b,'values:',a-b)
print('the division of a,b values:',a/b)
print('the multiplication of a,b values:',a*b)
print('modulo division is',a%b)
print('exponent is',a**b)

enter a value10
enter b value4
the addition of 10 and 4 values: 14
the subtraction of 10 and 4 values: 6
the division of a,b values: 2.5
the multiplication of a,b values: 40
modulo division is 2
exponent is 10000

In [21]:
x,y=10,20

In [22]:
x is 10

True

In [23]:
x is not y

True

In [24]:
x is y

False

In [25]:
f=s=10

In [14]:
f is s

True

In [15]:
f is not s

False

In [16]:
s is 10

True

In [18]:
id(f)

140728236876464

In [19]:
id(s)

140728236876464

In [26]:
x is y

False

In [27]:
id(x)

140728236876464

In [28]:
id(y)

140728236876784

### Strings
- a sequence/set of characters
- "" /''
- immutable in nature

In [29]:
st='word123'
st

'word123'

In [32]:
st=input().split()
st

hi+i+am+a+student

['hi', 'i', 'am', 'a', 'student']

In [34]:
plus=input('Enter the sentence:').split('+')
plus

Enter the sentence:hgt65567n+i76789+fcvb

['hgt65567n', 'i76789', 'fcvb']