### Today topics
- iterating statments
    - for loop
       -  incrementing value is 1 by default
        - syntax:
            - for iterator in iterable:
                - statments
            - for iterator in range(len(iterable)):
                - statements
    - while loop
- functions

In [1]:
x=10
x

10

In [2]:
nums=range(20,31)step=
nums

range(20, 31)

In [3]:
for num in nums:
    print(num)

20
21
22
23
24
25
26
27
28
29
30

In [28]:
for num in nums:
    print(num,num+3,num+5,sep=",")

20,23,25
21,24,26
22,25,27
23,26,28
24,27,29
25,28,30
26,29,31
27,30,32
28,31,33
29,32,34
30,33,35

In [11]:
step=range(10,30,3)
for num in step:
    print(num)

10
13
16
19
22
25
28

In [1]:
s=range(9,31,3)
for m in s:
    print(m)

9
12
15
18
21
24
27
30

In [13]:
nums

range(20, 31)

In [14]:
chrs=ator

NameError: name 'ator' is not defined

In [16]:
ord('R')

82

In [17]:
chr(82)

'R'

In [18]:
ord('A')

65

In [19]:
ord('a')

97

In [20]:
chr(97)

'a'

In [21]:
n=range(97,114)
for m in n:
    print(chr(m))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q

In [22]:
n=range(65,76)
for  m in n:
    print(chr(m))

A
B
C
D
E
F
G
H
I
J
K

In [30]:
word='word123'
for ch in word:
    print(ch,end=' ')

w o r d 1 2 3

In [31]:
for index in range(len(word)):
    print(word[index])

w
o
r
d
1
2
3

In [1]:
n=int(input())
# nth multiplication table\
for i in range(1,11):
    print(n,'x',i,'=',n*i)

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

9x1=9<br>
9x2=18<br>
.
.
.
.
9x10=90

In [3]:
for num in range(1,n):
    for num2 in range(1,num+1):
        print(num2,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [4]:
for num in range(1,n):
    for num2 in range(1,num+1):
        print(num,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [6]:
for num in range(1,n):
    for num2 in range(1,num+1):
        for num3 in range(1,num2+1):
            print(num3,end=" ")
        print()
    print()

1

1
1 2

1
1 2
1 2 3

1
1 2
1 2 3
1 2 3 4

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [4]:
clg=input()
clg
#U C E
#n i v e r s a l o l l e o f n g 
print('Printing the uppercase letters:')
for  ch in clg:
    if ch.isupper():
        print(ch,end=' ')
print()
print('Printing the lowercase letters:')
for ch in clg:
    if ch.islower():
        print(ch,end=' ')

Hi I am a student of Univeral College
Printing the uppercase letters:
H I U C
Printing the lowercase letters:
i a m a s t u d e n t o f n i v e r a l o l l e g e

In [5]:
clg

'Hi I am a student of Univeral College'

In [11]:
for ch in clg:
    if ch.isupper():
        if ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U':
            print(ch,end=" ")
print()
for ch in clg:
        if ch.islower():
            if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u':
                print(ch,end=" ")

I U
i a a u e o i e a o e e

In [13]:
for ch in clg:
    if ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U':
        print(ch,end=" ")
print()
for ch in clg:
    if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u':
        print(ch,end=' ')

I U
i a a u e o i e a o e e

In [2]:
num=3
n=int(input())
while num<=n:
    print(num,end=' ')
    num+=1

16
3 4 5 6 7 8 9 10 11 12 13 14 15 16

In [5]:
n=int(input())n
num=2
while n>num:
    print(n,end=" ")
    n-=1

12
12 11 10 9 8 7 6 5 4 3

In [4]:
for i in range(12,1,-1):
    print(i,end=" ")

12 11 10 9 8 7 6 5 4 3 2

In [1]:
n=int(input())
i=1
while i<11:
    print(n,"X",i,"=",n*i)
    i=i+1

6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [4]:
n=int(input())
if n%2==0:
    print('even')
else:print('odd')

11
odd

In [3]:
i=0
while i<=11:
    if i%2==1:
        print(i,end=' ')
    i+=1

1 3 5 7 9 11

In [8]:
for num in range(int(input()),int(input()),-1):
    if num%2==0:
        print(num,end=" ")

40
20
40 38 36 34 32 30 28 26 24 22

In [6]:
for num in range(int(input()),int(input()),-1):
    #if num%2==1:
        print(num,end=" ")

40
20
40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21

In [11]:
for num in range(int(input()),int(input()),-3):
    if num%2==1:
        print(num,end=" ")

20
1
17 11 5

In [2]:
f=int(input())
s=int(input())
num=0
while s>=f:
    if num%2==1:
        print(num,end=" ")
    num+=1
    s-=1

1
20
1 3 5 7 9 11 13 15 17 19

In [4]:
f=int(input())
s=int(input())
num=s
while f<=s:
    if num%2==0:
        print(num,end=" ")
    num-=1
    s-=1

20
41
40 38 36 34 32 30 28 26 24 22 20

In [2]:
#write a program to print factors of a number.
# 10-->1 2 5 
n=int(input())
for num in range(1,n):
    if n%num==0:
        print(num,end=' ')

20
1 2 4 5 10

In [ ]:
n=int(input())
num=1
while n>0:
    if n%num==0:
        print(num,end=" ")
    num+=1

20
1 2 4 5 10 20

In [2]:
count=0
n=int(input())
num=1
while num<=n:
    if n%num==0:
        count+=1
    num+=1
if count==2:
    print('prime')
else:
    print('not a prime')

15
not a prime

In [3]:
count=0
n=int(input())
for num in range(1,n+1):
    if n%num==0:
        count+=1
if count==2:
    print('prime')
else:
    print('not a prime')

101
prime

In [5]:
#program to print the prime no.s b/w 20 to 60
lw=int(input())
up=int(input())
print('prime no.s within the range...')
for num in range(lw,up):
    count=0
    for each in range(1,num+1):
        if num%each==0:
            count+=1
    if count==2:
        print(num,end=" ")

100
200
prime no.s within the range...
101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [7]:
#12345-->15
n=int(input())
s=0
while n!=0:
    rem=n%10
    s+=rem
    n//=10
print(s)

12345
15

In [11]:
num=input()
s=0
for each in num:
    s+=int(each)
print(s)

12345
15

In [9]:
12+34

46

In [10]:
'hi'+'hello'

'hihello'

In [14]:
#123 456 789 492
#2+5+8+9=24
nums=input().split()
s=0
for num in nums:
    s+=int(num)
s

123 456 789

1368

In [25]:
nums=input().split()
s=0
for word in nums:
    print(word[0])
    s+=int(word[0])
print('sum of the digits in 100th place',s)

123 456 789 932
1
4
7
9
sum of the digits in 100th place 21

### Funtions in python
- a set/block of statements executed to perform a perticular/specific task
- syntax:
    - def function_name(args):
        - statements
        - return
- It is of 2types:
    - pre define
        - these were defined when the lang designed
        - no need to define them, we can simply call and use them in the prgm
        - ex: input(),print(),int(),float(),len(),ord(),chr(),max(),min(),sum().etc
    - user defined
        - defined by the user
        - 4types:
            - function with arguments and with return statement
            - fun with args & without return 
            - fun without args & with return
            - fun without args & without return
- modulizing the code for reusability

In [26]:
#n
n=int(input())
if n%2==0:
    print('even')
else:
    print('odd')

11
odd

In [28]:
#def a function to check whether a no. is even or not
def is_even(n):
    if n%2==0:
        return True
    else:return False
    
is_even(7)

False

In [29]:
is_even(int(input()))

567893

False

In [30]:
for num in range(1,21):
    if num%2==0:
        print(num,end=" ")

2 4 6 8 10 12 14 16 18 20

In [31]:
for num in range(int(input()),int(input())+1):
    if is_even(num):
        print(num,end=' ')

20
50
20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [34]:
#def a function to check whether a no. is even or not
def is_even2(n):
    if n%2==0:
        print('even')
    else:print('odd')
    
is_even2(7)

odd

In [35]:
is_even2(8)

even

In [36]:
for each in range(1,21):
    if is_even2(each):
        print(each)

odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even

In [37]:
def add(x,y):
    return x+y

add(5,6)

11

In [38]:
add(int(input()),int(input()))

11
12

23

In [39]:
#fun with args & without return
def add2(a,b):
    print('sum=',a+b)
    
add2(5,6)

sum= 11

In [40]:
v=10
v2=20
def add3():
    return v+v2

add3()

30

In [42]:
def add4():
    f=int(input())
    s=int(input())
    print("sum=",f+s)
    
add4()

12
11
sum= 23

In [1]:
#define a funtion to check whether a no. is prime or not
def is_prime(n):
    factors=0
    for num in range(1,n+1):
        if n%num==0:
            factors+=1
    if factors==2:
        return True
    else:return False
    
is_prime(11)

True

In [2]:
is_prime(int(input()))

15

False

In [5]:
def prime_range(lw,up):
    for num in range(lw,up+1):
        if is_prime(num):
            print(num,end=" ")
        
lw=int(input())
up=int(input())
prime_range(lw,up)

20
60
23 29 31 37 41 43 47 53 59

In [6]:
for num in range(1,40):
    if is_prime(num):
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37

In [7]:
#check whether a no. is perfect or not
#sum of the factors of a no=given
#6->1 2 3-->1+2+3=6
#28-->1 2 4 7 14=28
def is_perfect(n):
    s=0
    for num in range(1,n):
        if n%num==0:
            s+=num
    if s is n:
        return True
    else:
        return False
    
is_perfect(6)

True

In [8]:
is_perfect(9)

False

In [11]:
def perfect_range(lw,up):
    for num in range(lw,up+1):
        if is_perfect(num):
            print(num,end=" ")
            
perfect_range(1,100)

6 28

In [20]:
y=int(input())
if (y%400==0) or (y%100!=0 and y%4==0):
    print('leap year')
else:
    print('Non leap year')

2020
leap year

In [21]:
y=int(inpu)
if (y%400==0 or y%4==0) and (y%100!=0):
    print('leap')
else:
    print('non leap')

leap