### Today topics
- Data Structures:
    - tuple()
    - set{}
    - list[]
    - dictionary{}

### Data sturcure
- way of organizing the data in a perticular format
- means storing the data

#### Tuple
- One of the data structures in python
- used to store the data/collection of elements
- heterogenous in nature
    - means we can store different types of data in a variable at a time
- represented by ()
- immutable in nature

##### Tuple methods
- index()
- count()

In [1]:
t=(123,'strings','123','hello','I am tuple',789,123,98.67)
t

(123, 'strings', '123', 'hello', 'I am tuple', 789, 123, 98.67)

In [2]:
t[2]

'123'

In [3]:
t[1]

'strings'

In [4]:
t[:5]

(123, 'strings', '123', 'hello', 'I am tuple')

In [5]:
t.index('hello')

3

In [6]:
t.index(123)

0

In [7]:
t.count(789)

1

In [8]:
t.count(123)

2

In [9]:
t[2]='I am new'

TypeError: 'tuple' object does not support item assignment

In [11]:
#read your college name from the user and print the vowels in that
college=input()
vowels=('a','e','i','o','u','A','E','I','O','U')
def print_vowels(st):
    for ch in st:
        if ch in vowels:
            print(ch,end=" ")
            
print_vowels(college)

unIveral College Of EngineEring and technOlogy
u I e a o e e O E i e E i a e O o

In [19]:
#print the both case vowels separately
college=input()
vowels=('a','e','i','o','u','A','E','I','O','U')
def print_vowels_separately(st):
    print('Uppercase vowels..')
    for ch in st:
        if ch in vowels:
            if ch.isupper():
                print(ch,end=" ")
    print()
    print('Lowercase vowels.')
    for ch in st:
        if ch in vowels:
            if ch.islower():
                print(ch,end=" ")
            
print_vowels_separately(college)

UniversAL COllege of EnginEERING and technology
Uppercase vowels..
U A O E E E I
Lowercase vowels.
i e e e o i a e o o

In [20]:
rn=tuple(range(1,21))
for num in rn:
    print(num,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [21]:
st=tuple('word')
for ch in st:
    print(ch)

w
o
r
d

In [22]:
st

('w', 'o', 'r', 'd')

In [23]:
sentence=input().split()
t=tuple(sentence)
t

I am a sentence

('I', 'am', 'a', 'sentence')

#### set
- a well defined collection of data/elements
- {}
- elemenates the duplicate data

In [24]:
s={12,34,'hi','hello',34,'Python','programming',12,'hello','hey','set'}
s

{12, 34, 'Python', 'hello', 'hey', 'hi', 'programming', 'set'}

In [25]:
len(s)

8

In [26]:
s[3]

TypeError: 'set' object is not subscriptable

In [27]:
s[2]='new'

TypeError: 'set' object does not support item assignment

In [28]:
s2={12,34,'hi'}
s2

{12, 34, 'hi'}

In [29]:
s

{12, 34, 'Python', 'hello', 'hey', 'hi', 'programming', 'set'}

In [30]:
s2.issubset(s)

True

In [31]:
s.issuperset(s2)

True

In [32]:
s-s2

{'Python', 'hello', 'hey', 'programming', 'set'}

In [33]:
s.difference(s2)

{'Python', 'hello', 'hey', 'programming', 'set'}

In [34]:
s.union(s2)

{12, 34, 'Python', 'hello', 'hey', 'hi', 'programming', 'set'}

In [35]:
s.intersection(s2)

{12, 34, 'hi'}

In [36]:
s3={'new','hi',12,'set2'}
s3

{12, 'hi', 'new', 'set2'}

In [38]:
s.intersection(s3)

{12, 'hi'}

In [39]:
s3.isdisjoint(s)

False

In [40]:
print_vowels_separately('Hi I am new')

Uppercase vowels..
I
Lowercase vowels.
i a e

### List
- A collection of elements/items
- []
- heterogenous in nature
- mutable

#### List methods
- li.append()
- li.extend()
- li.pop()
- li.remove()
- li.insert()
- li.sort()
- li.reverse()
- sum(li)
- min(li)
- max(li)
- li.clear()
- del li

In [41]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [46]:
li=[1,2,3,'hello','hi',87,'last item']
li

[1, 2, 3, 'hello', 'hi', 87, 'last item']

In [47]:
li[2]

3

In [48]:
li[-2]

87

In [49]:
print_vowels_separately(college)

Uppercase vowels..
U A O E E E I
Lowercase vowels.
i e e e o i a e o o

In [50]:
vowels

('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U')

In [51]:
vowels.remove('e')

AttributeError: 'tuple' object has no attribute 'remove'

In [52]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [53]:
s={'A','E','I','O','U','a','e','i','o','u'}
for ch in s:
    if ch in college:
        print(ch)

i
o
O
E
I
e
A
U
a

In [54]:
li

[1, 2, 3, 'hello', 'hi', 87, 'last item']

In [55]:
li[3:]

['hello', 'hi', 87, 'last item']

In [56]:
li[-2]

87

In [57]:
for ele in li:
    print(ele)

1
2
3
hello
hi
87
last item

In [58]:
# retrieve only integers from the list
evens=list(range(1,50))
for num in evens:
    if num%2==0:
        print(num,end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,

In [59]:
li

[1, 2, 3, 'hello', 'hi', 87, 'last item']

In [60]:
for item in li:
    if str(item).isdigit():
        print(item)

1
2
3
87

In [61]:
for item in li:
    if str(item).isalpha():
        print(item)

hello
hi

In [62]:
for item in li:
    if str(item).isdigit()==False:
        print(item)

hello
hi
last item

In [64]:
for item in li:
    if str(item).isdigit():
        continue
    else:
        print(item)

hello
hi
last item

In [65]:
li

[1, 2, 3, 'hello', 'hi', 87, 'last item']

In [66]:
li.pop() # removes the last element from the list

'last item'

In [67]:
li.remove('hello') # removes the perticular item

In [68]:
li

[1, 2, 3, 'hi', 87]

In [82]:
li.append('new data') # adds the new data to the list at the end

In [83]:
li

[1, 2, 3, 'hi', 87, '6th elemenet', 'new data', 'new data']

In [84]:
li.insert(5,'6th element')

In [85]:
li

[1, 2, 3, 'hi', 87, '6th element', '6th elemenet', 'new data', 'new data']

In [73]:
li.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [74]:
ints=[45,67,12,34]
ints.sort()

In [75]:
ints

[12, 34, 45, 67]

In [76]:
ints.reverse()

In [77]:
ints

[67, 45, 34, 12]

In [78]:
ints

[67, 45, 34, 12]

In [79]:
ints[2]

34

In [80]:
ints[2]='string'

In [81]:
ints

[67, 45, 'string', 12]

In [86]:
repeated=[12,34,67,12,89,'hello','python',12,67,'python']
repeated

[12, 34, 67, 12, 89, 'hello', 'python', 12, 67, 'python']

In [87]:
repeated.count(12)

3

In [88]:
repeated.count('python')

2

In [91]:
repeated.index(34)

1

In [92]:
repeated.index(12)

0

In [93]:
unq=[]
for ele in repeated:
    if ele not in unq:
        unq.append(ele)
unq

[12, 34, 67, 89, 'hello', 'python']

In [94]:
li.clear()

In [95]:
li

[]

In [96]:
del li

In [97]:
li

NameError: name 'li' is not defined

In [98]:
random=[23,45,71,1,20,90,45,19,40,91]
max(random)

91

In [99]:
min(random)

1

In [100]:
sum(random)

445

In [114]:
#find the minimum sum and maximum sum of 4 elements
random=[23,45,71,1,20,90,45,19,40,91]
random.sort()
print('minimum sum=',sum(random[0:4]))
print('maximum sum=',sum(random[-4:]))

minimum sum= 63
maximum sum= 297

In [106]:
s1=sum(random[:4])

In [107]:
s2=sum(random[1:5])

In [108]:
s3=sum(random[2:6])

In [109]:
ss=[s1,s2,s3]
min(ss)

137

In [110]:
max(ss)

182

In [111]:
random.sort()

In [112]:
#random

[1, 19, 20, 23, 40, 45, 45, 71, 90, 91]

In [119]:
random

[1, 19, 20, 23, 40, 45, 45, 71, 90, 91]

In [120]:
random

[1, 19, 20, 23, 40, 45, 45, 71, 90, 91]

In [130]:
#sum all the first digits of no.s in the list
#1+1+2+2+4+4+4+7+9+9=43
s=0
for num in random:
    st=str(num)
    s+=int(st[0])
print('sum:',s)

sum: 43

sum= 43

In [134]:
s='word'
s[1]

'o'

In [125]:
num=9876
num[1]

TypeError: 'int' object is not subscriptable

### Dictionary
- one of the data structues in python and is used to store the data
- {key:value}
- mutable in nature
- keys are unique in nature
    - no 2 keys in the dictionary are similar
    - these are the references for values
    - key&value together called as item

In [131]:
dic={"key":123,'k2':456,'k3':"sri",123:345,"name":"universal"}

In [132]:
dic

{'key': 123, 'k2': 456, 'k3': 'sri', 123: 345, 'name': 'universal'}

In [133]:
dic["k2"]

456

In [135]:
dic[123]

345

In [136]:
dic["new key"]="new data"

In [137]:
dic

{'key': 123,
 'k2': 456,
 'k3': 'sri',
 123: 345,
 'name': 'universal',
 'new key': 'new data'}

In [138]:
dic["k3"]="sri vidhya"

In [139]:
dic

{'key': 123,
 'k2': 456,
 'k3': 'sri vidhya',
 123: 345,
 'name': 'universal',
 'new key': 'new data'}

In [140]:
dic.pop(123)

345

In [141]:
dic

{'key': 123,
 'k2': 456,
 'k3': 'sri vidhya',
 'name': 'universal',
 'new key': 'new data'}

In [142]:
dic.popitem()#removes the last item from the dictionary

('new key', 'new data')

In [144]:
dic

{'key': 123, 'k2': 456, 'k3': 'sri vidhya', 'name': 'universal'}

In [145]:
new={1:1,2:4,3:9,4:7,5:8}
dic.update(new)#combines two dictionaries into one

In [146]:
dic

{'key': 123,
 'k2': 456,
 'k3': 'sri vidhya',
 'name': 'universal',
 1: 1,
 2: 4,
 3: 9,
 4: 7,
 5: 8}

In [147]:
dic.keys()

dict_keys(['key', 'k2', 'k3', 'name', 1, 2, 3, 4, 5])

In [149]:
for key in dic.keys():
    print(key)

key
k2
k3
name
1
2
3
4
5

In [151]:
for value in dic.values():
    print(value)

123
456
sri vidhya
universal
1
4
9
7
8

In [152]:
dic.items()

dict_items([('key', 123), ('k2', 456), ('k3', 'sri vidhya'), ('name', 'universal'), (1, 1), (2, 4), (3, 9), (4, 7), (5, 8)])

In [153]:
dic

{'key': 123,
 'k2': 456,
 'k3': 'sri vidhya',
 'name': 'universal',
 1: 1,
 2: 4,
 3: 9,
 4: 7,
 5: 8}

In [154]:
for item in dic.items():
    print(item)

('key', 123)
('k2', 456)
('k3', 'sri vidhya')
('name', 'universal')
(1, 1)
(2, 4)
(3, 9)
(4, 7)
(5, 8)

In [155]:
for key,value in dic.items():
    print(key,value, sep=",")

key,123
k2,456
k3,sri vidhya
name,universal
1,1
2,4
3,9
4,7
5,8

In [156]:
for key,value in zip(dic.keys(),dic.values()):
    print(key,value)

key 123
k2 456
k3 sri vidhya
name universal
1 1
2 4
3 9
4 7
5 8

In [160]:
#prepare a dictionary of characters from A to K with their ASCII value
num=range(65,75)
chrs={}
for n in num:
    chrs[chr(n)]=n
print(chrs)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74}

In [161]:
r=range(1,11)
squs={}
for num in r:
    squs[num]=num**2
print(squs)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}