In [1]:
#write a program to check whether a no. is perfect or not
# write a program to find the prime factors of a no.
# i/p : firstname lastname
# o/p: l.firstname

In [3]:
def is_perfect(n):
    s=0
    for num in range(1,n):
        if n%num==0:
            s+=num
    if s==n:
        return True
    else:return False
    
is_perfect(6)

True

In [4]:
is_perfect(12)

False

In [5]:
lw=int(input())
up=int(input())
def perfect_range(lw,up):
    for num in range(lw,up+1):
        if is_perfect(num):
            print(num,end=" ")
perfect_range(lw,up)

1
1000
6 28 496

In [ ]:
#15-->1,3,-->3 5

In [9]:
def is_perfect2(n):
    s=0
    for num in range(1,n):
        if n%num==0:
            s+=num
    if s==n:
        print('perfect')
    else:
        print('not perfect')
    
is_perfect2(6)

perfect

In [10]:
is_perfect2(10)

not perfect

In [12]:
lw=int(input())
up=int(input())
def perfect_range2(lw,up):
    for num in range(lw,up+1):
        if is_perfect2(num):
            print(num,end=" ")
perfect_range2(lw,up)

1
100
not perfect
not perfect
not perfect
not perfect
not perfect
perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect
not perfect

In [18]:
def prime(n):
    count=0
    for num in range(1,n+1):
        if n%num==0:
            count+=1
    if count==2:
        return True
    else:return False
        
num=int(input())
print('printing the prime factors...')
for i in range(1,num+1):
    if num%i==0:
        if prime(i):
            print(i,end=" ")

8023
printing the prime factors...
71 113

In [24]:
# firstname lastname
# l.firstname
name=input().split()
print(name[1][0],'.',name[0])

anjani gottam
g . anjani

### Data Structures
- way of organizing the data in a perticular format
- 4types:
    -  set{}
    - tuple()
    - list[]
    - dictionary{}

### set
- collection of unordered data
- {}
- eleminates the duplicate data

In [25]:
a={23,90,'hello','word',90,6778.654,9098.34}
a

{23, 6778.654, 90, 9098.34, 'hello', 'word'}

In [26]:
b={45,90,'word','new','set2',9088.67}
b

{45, 90, 9088.67, 'new', 'set2', 'word'}

In [27]:
a.union(b)

{23, 45, 6778.654, 90, 9088.67, 9098.34, 'hello', 'new', 'set2', 'word'}

In [28]:
a.intersection(b)

{90, 'word'}

In [29]:
a.difference(b)

{23, 6778.654, 9098.34, 'hello'}

In [30]:
a-b

{23, 6778.654, 9098.34, 'hello'}

In [31]:
b

{45, 90, 9088.67, 'new', 'set2', 'word'}

In [32]:
a

{23, 6778.654, 90, 9098.34, 'hello', 'word'}

In [33]:
b.issubset(a)

False

In [34]:
c={'word',23}
c

{23, 'word'}

In [35]:
c.issubset(a)

True

In [36]:
a.issuperset(c)

True

In [37]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [38]:
c

{23, 'word'}

In [39]:
b

{45, 90, 9088.67, 'new', 'set2', 'word'}

In [40]:
a

{23, 6778.654, 90, 9098.34, 'hello', 'word'}

In [41]:
d={'new word',123}
d

{123, 'new word'}

In [42]:
d.isdisjoint(a)

True

### tuple
-  one of the data structes in python
- used to store the data/value
- represented with ()
- immutable in nature
- methods
    - count
    - index

In [43]:
t=('string',8778789,6789809.565,'string2',123)
t

('string', 8778789, 6789809.565, 'string2', 123)

In [44]:
t.index(8778789)

1

In [45]:
t.count('string')

1

In [46]:
t[3]

'string2'

In [47]:
t[0:]

('string', 8778789, 6789809.565, 'string2', 123)

In [48]:
t[0]='new word'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Universal college of Engineering and technology
# o/p:U i e a o e e o E i e e i a e o o
# U i e a o E
s=input()
for each in s:
    if(each=='a' or each=='e' or each=='i' or each=='o' or each=='u' or each=='A' or each=='E' or each=='I' or each=='O' or each=='U'):
        print(each,end=" ")